<!--&lt;!&ndash;<?xml version="1.0" encoding="UTF-8"?>&ndash;&gt;-->
<!--&lt;!&ndash;<Configuration status="info" name="MyApp" packages="">&ndash;&gt;-->
<!--&lt;!&ndash;    <Appenders>&ndash;&gt;-->
<!--&lt;!&ndash;        <File name="MyFile" fileName="logs/app.log">&ndash;&gt;-->
<!--&lt;!&ndash;            <PatternLayout>&ndash;&gt;-->
<!--&lt;!&ndash;                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>&ndash;&gt;-->
<!--&lt;!&ndash;            </PatternLayout>&ndash;&gt;-->
<!--&lt;!&ndash;        </File>&ndash;&gt;-->
<!--&lt;!&ndash;    </Appenders>&ndash;&gt;-->
<!--&lt;!&ndash;    <Loggers>&ndash;&gt;-->
<!--&lt;!&ndash;        <Root level="error">&ndash;&gt;-->
<!--&lt;!&ndash;            <AppenderRef ref="MyFile"/>&ndash;&gt;-->
<!--&lt;!&ndash;        </Root>&ndash;&gt;-->
<!--&lt;!&ndash;    </Loggers>&ndash;&gt;-->
<!--&lt;!&ndash;</Configuration>&ndash;&gt;-->

<!--<configuration>-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--&lt;!&ndash;    <property name="LOG_DIR" value="" />&ndash;&gt;-->
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>${user.dir}/test.log</file>-->
<!--&lt;!&ndash;        <file>${LOG_DIR}/tests.log</file>&ndash;&gt;-->
<!--        <append>true</append>-->
<!--        <encoder>-->
<!--            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="debug">-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </root>-->
<!--</configuration>-->